<!-- <section class="sponsors content container container--small">
  <div class="grid sponsors-grid sponsors-grid--cypress">
    <h2 class="banner">Cypress Level</h2>
    <a target="_blank" href="https://www.infotechfl.com/"><img src="assets/images/sponsors/infotech.png" alt="Info Tech"></a>
    <a target="_blank" href="https://feathr.co/"><img src="assets/images/sponsors/feathr.png" alt="Feathr"></a>
    <a target="_blank" href="http://sharpspring.com/"><img src="assets/images/sponsors/sharpspring.png" alt="SharpSpring"></a>
  </div>
</section> -->
