<!DOCTYPE html>
<html lang="en">
  @@include('_head.html', { "title": "Contact | Gainesville BarCamp 2019" })
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">Contact Us</h1>
        <p>Hey! Thanks for getting in touch!</p>
        <p>You can email us at <a href="mailto:gainesvillebarcamp@gmail.com">gainesvillebarcamp@gmail.com</a>. You can also tweet us at <a href="https://twitter.com/GNVBarCamp" target="_blank">@GNVBarCamp</a>.</p>
        <p>If all else fails, create a large spotlight with a cypress tree silhouette, and shine it up into the clouds. We'll be at your spot shortly!</p>
      </div>
    </section>
    @@include('_sponsors-footer.html')
    @@include('_footer.html')
  </body>
</html>
