<!DOCTYPE html>
<html lang="en">
  @@include('_head.html', { "title": "Sessions | Gainesville BarCamp 2019" })
  <body>
    @@include('_header.html')
    <section class="content container container--small">
      <div class="copy">
        <h1 class="banner">Featured Sessions</h1>
        <p>
          The sessions to be listed below are emblematic of the types of session that
          we want to encourage. Check them out and draw inspiration for your own
          session! Remember, sessions aren't limited to just "talks," it can be
          a presentation, panel or discussion group.
        </p>
        <a href="mailto:gainesvillebarcamp@gmail.com?subject=Featured%20Speaker" class="button">Want to be a Featured Session?</a>
      </div>
      <div class="sessions-grid">
        <div class="sessions-grid-sizer"></div>
        <p>Sessions coming soon</p>
      </div>
    </section>
    @@include('_sponsors-footer.html')
    @@include('_footer.html')
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script type="text/javascript">
      var elem = document.querySelector('.sessions-grid');
      var msnry = new Masonry( elem, {
        itemSelector: '.session',
        columnWidth: '.sessions-grid-sizer',
        gutter: 0
      });
    </script>
  </body>
</html>
