.sponsors-button {
  @include icon('icon-heart.svg', 20px);
}

.sponsors-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 100px 50px;
  align-items: center;
  justify-items: center;
  margin-top: 100px;

  @include breakpoint($tablet_narrow) {
    grid-gap: 25px 100px;
  }

  &--cypress {
    @include breakpoint($tablet_narrow) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint($normal) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--sapling,
  &--seedling {
    grid-template-columns: repeat(2, 1fr);

    @include breakpoint($tablet_narrow) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint($normal) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--seedling {
    @include breakpoint($normal_wide) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .banner {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: start;
    max-width: 220px;
    margin: 0;

    &--seedling {
      max-width: 240px;
    }
  }

  .opportunities {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: start;
  }
}
